.container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  background-color: var(--error-primary-color);
  min-width: 30rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  z-index: 99999;
}

.closeBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c1f1f;
  color: var(--primary-foreground-color);
}
