.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}

.imageCont {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 3%;
  transform: translateY(-50%);
  overflow: hidden;
  border: 0.6rem solid var(--primary-foreground-color);
}

.profilePicture {
  width: 100%;
  height: auto;
}

.createButton {
  display: block;
  width: 18rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 2rem;
}
