.headerBtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--link-color);
}

/* .headerBtn:hover {
  border: 1px solid var(--primary-bg-color);
} */
